In [39]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [40]:
data = pd.read_csv('results.csv')

In [41]:
data.head()

    Season     HomeTeam        AwayTeam  FTHG  FTAG
0  1993-94      Arsenal        Coventry     0     3
1  1993-94  Aston Villa             QPR     4     1
2  1993-94      Chelsea       Blackburn     1     2
3  1993-94    Liverpool  Sheffield Weds     2     0
4  1993-94     Man City           Leeds     1     1

# Data Cleaning

In [42]:
data['HomeTeam'] = data['HomeTeam'].str.strip()
data['AwayTeam'] = data['AwayTeam'].str.strip()

In [43]:
data.dtypes

Season      object
HomeTeam    object
AwayTeam    object
FTHG         int64
FTAG         int64
dtype: object

## Creating a new column: Total Goals

In [44]:
data['TotalGoals'] = data['FTHG'] + data['FTAG']

In [45]:
data

        Season     HomeTeam        AwayTeam  FTHG  FTAG  TotalGoals
0      1993-94      Arsenal        Coventry     0     3           3
1      1993-94  Aston Villa             QPR     4     1           5
2      1993-94      Chelsea       Blackburn     1     2           3
3      1993-94    Liverpool  Sheffield Weds     2     0           2
4      1993-94     Man City           Leeds     1     1           2
...        ...          ...             ...   ...   ...         ...
11108  2021-22  Aston Villa       Tottenham     0     4           4
11109  2021-22    Brentford        West Ham     2     0           2
11110  2021-22    Leicester  Crystal Palace     2     1           3
11111  2021-22      Norwich         Burnley     2     0           2
11112  2021-22     Man City       Liverpool     2     2           4

[11113 rows x 6 columns]

# Building the Model

In [46]:
from scipy.stats import poisson

## Calculate Strength

In [47]:
data_home = data[['HomeTeam', 'FTHG', 'FTAG']]
data_away = data[['AwayTeam', 'FTHG', 'FTAG']]

In [48]:
data_home = data_home.rename(columns={'HomeTeam': 'Team', 'FTHG': 'GoalsScored', 'FTAG': 'GoalsConceded'})
data_away = data_away.rename(columns={'AwayTeam': 'Team', 'FTHG': 'GoalsConceded', 'FTAG': 'GoalsScored'})

In [49]:
data_team_strength = pd.concat([data_home, data_away], ignore_index=True).groupby('Team').mean()
data_team_strength

                  GoalsScored  GoalsConceded
Team
Arsenal              1.779492       0.996370
Aston Villa          1.211325       1.319515
Barnsley             0.973684       2.157895
Birmingham           1.026316       1.353383
Blackburn            1.313456       1.316514
Blackpool            1.447368       2.052632
Bolton               1.163968       1.508097
Bournemouth          1.268421       1.736842
Bradford             0.894737       1.815789
Brentford            1.218750       1.500000
Brighton             0.961749       1.371585
Burnley              0.983108       1.506757
Cardiff              0.868421       1.881579
Charlton             1.125000       1.453947
Chelsea              1.733212       0.962795
Coventry             1.073718       1.387821
Crystal Palace       1.086093       1.454746
Derby                1.018797       1.578947
Everton              1.295826       1.281307
Fulham               1.107018       1.457895
Huddersfield         0.657895       1.763158
Hull                 0.952632       1.700000
Ipswich              1.056250       1.606250
Leeds                1.379032       1.276210
Leicester            1.331675       1.421227
Liverpool            1.762466       0.986401
Man City             1.725082       1.107338
Man United           1.912965       0.924751
Middlesbrough        1.116541       1.351504
Newcastle            1.331061       1.371957
Norwich              1.020408       1.699708
Nott'm Forest        1.205128       1.442308
Oldham               1.000000       1.619048
Portsmouth           1.097744       1.428571
QPR                  1.169492       1.593220
Reading              1.192982       1.631579
Sheffield United     0.852564       1.391026
Sheffield Weds       1.291971       1.467153
Southampton          1.216249       1.440860
Stoke                1.047368       1.381579
Sunderland           1.006579       1.486842
Swansea              1.150376       1.439850
Swindon              1.119048       2.380952
Tottenham            1.515866       1.241160
Watford              1.026936       1.686869
West Brom            1.032389       1.562753
West Ham             1.238384       1.434343
Wigan                1.039474       1.585526
Wimbledon            1.197080       1.521898
Wolves               1.083893       1.500000

## Function predict_winner

In [50]:
def predict_winner(home, away):
    if home in data_team_strength.index and away in data_team_strength.index:
        lambda_home = data_team_strength.at[home, 'GoalsScored'] * data_team_strength.at[away, 'GoalsConceded']
        lambda_away = data_team_strength.at[away, 'GoalsScored'] * data_team_strength.at[home, 'GoalsConceded']
        prob_home, prob_away, prob_draw = 0, 0, 0
        
        #Maximum goals in a match: 10, Minimum: 0
        for x in range(0, 11):
            for y in range(0, 11):
                p = poisson.pmf(x, lambda_home) * poisson.pmf(y, lambda_away)
                if x == y:
                    prob_draw += p
                elif x > y:
                    prob_home += p
                else:
                    prob_away += p
                    
        winner = max(prob_home, prob_away, prob_draw)
        if winner == prob_home:
            print('{} has a better chance of winning this match.'.format(home))
        elif winner == prob_away:
            print('{} has a better chance of winning this match'.format(away))
        else: print('Draw')
    else:
        return (0, 0)

### Testing function

In [51]:
predict_winner('Arsenal', 'Brighton')

Arsenal has a better chance of winning this match.